In [159]:
import numpy as np
import matplotlib.pyplot as pp
import pandas as pd
import seaborn
from scipy import stats

In [160]:
gpalist=[]
for line in open('ClassData.csv','r'):
   field= line.split(',')
   gpalist.append(field)
print(gpalist)

[['No', 'GPA', 'Years of work experience', 'Latest salary (per year)', 'Highest GPA ', 'Lowest GPA', 'Coops/Internships (YN)', 'Number of contacts on Linkedin', 'Expected Salary after graduation\n'], ['1', '3.5', '2.5', '45000', '3.5', '3.5', 'N', '250', '90000\n'], ['3', '3.8', '1', '65000', '3.6', '3', 'Y', '400', '100000\n'], ['4', '3.8', '2', '85000', '4', '3.6', 'Y', '500', '90000\n'], ['5', '3.41', '1.5', '10000', '3.41', '3.33', 'N', '365', '100000\n'], ['6', '3.33', '5', '70000', '3.67', '3', 'Y', '400', '100000\n'], ['7', '3.52', '2.5', '27000', '3.58', '3.52', 'N', '230', '85000\n'], ['8', '3.5', '2', '40000', '3.7', '3.3', 'N', '250', '90000\n'], ['9', '3.5', '5', '75000', '3.53', '3.3', 'Y', '260', '100000\n'], ['10', '3.6', '2.5', '65000', '3.9', '3.1', 'Y', '250', '110000\n'], ['11', '3.2', '4', '62000', '3.8', '3', 'N', '525', '105000\n'], ['12', '3.5', '2', '60000', '3.5', '3.5', 'N', '400', '85000\n'], ['13', '3.67', '1.8', '60000', '4', '3', 'N', '920', '140000\n'], ['14', '3.5', '2', '60000', '3.7', '3.3', 'y', '300', '90000\n'], ['15', '3.47', '2.5', '70000', '3.64', '3.37', 'Y', '310', '95000\n'], ['16', '3.06', '1.3', '40000', '3.64', '2.67', 'Y', '550', '120000\n'], ['17', '3.27', '2', '60000', '4', '3', 'Y', '350', '100000\n'], ['18', '3.53', '4', '50000', '4', '3.3', 'N', '600', '88000\n'], ['19', '4', '4', '50000', '4', '4', 'Y', '500', '130000\n'], ['20', '3.4', '1', '30000', '3.6', '3.1', 'N', '500', '80000\n'], ['21', '3.54', '1', '40000', '4', '3.42', 'Y', '650', '95000\n'], ['22', '3.5', '2', '75000', '4', '3', 'Y', '515', '80000\n'], ['23', '3.5', '4', '50000', '3.8', '3.2', 'Y', '350', '110000\n'], ['24', '3.4', '3', '50000', '3.8', '3.2', 'Y', '301', '90000\n'], ['25', '3.93', '5', '', '', '', '', '', '\n'], ['26', '3.3', '4', '65000', '4', '3.65', 'Y', '700', '100000\n'], ['27', '3.9', '6', '90000', '4', '3.8', 'Y', '809', '120000\n'], ['28', '3.17', '1', '50000', '3.3', '3', 'N', '258', '100000\n'], ['29', '3.48', '3.5', '60000', '4', '3.33', 'Y', '350', '100000\n'], ['30', '3.93', '4', '43000', '4', '3.28', 'Y', '900', '100000\n'], ['31', '3.43', '4', '60000', '3.5', '3.3', 'Y', '220', '110000\n'], ['32', '3.33', '5', '5000', '3.66', '3', 'Y', '183', '100000\n'], ['33', '3.6', '1.5', '60000', '3.7', '3.4', 'Y', '340', '100000\n'], ['34', '3.8', '3', '65000', '3.8', '3.5', 'Y', '800', '80000\n'], ['35', '3.5', '3', '65000', '4', '3.6', 'Y', '400', '80000\n'], ['36', '3.39', '2', '60000', '3.8', '3.2', 'Y', '500', '90000']]

In [161]:
gpalist=[]
yearofexp=[]
salary=[]
with open('ClassData.csv','r') as f:
    lines = f.readlines()[1:]
    for line in lines:
        field= line.split(',')
        gpalist.append(field[1])
        yearofexp.append(field[2])
        salary.append(field[3])
salary     
#Salary=np.asarray(salary,dtype=np.float_)

['45000',
 '65000',
 '85000',
 '10000',
 '70000',
 '27000',
 '40000',
 '75000',
 '65000',
 '62000',
 '60000',
 '60000',
 '60000',
 '70000',
 '40000',
 '60000',
 '50000',
 '50000',
 '30000',
 '40000',
 '75000',
 '50000',
 '50000',
 '',
 '65000',
 '90000',
 '50000',
 '60000',
 '43000',
 '60000',
 '5000',
 '60000',
 '65000',
 '65000',
 '60000']

In [162]:
GPA= np.asarray(gpalist,dtype=np.float_)
WorkExp=np.asarray(yearofexp,dtype=np.float_)
WorkExp


print(round(np.min(GPA),2))
print(round(np.max(GPA),2))
print(round(np.mean(GPA),2))
print(round(np.median(GPA),2))
print(round(np.min(WorkExp),2))
print(round(np.max(WorkExp),2))
print(round(np.mean(WorkExp),2))
print(round(np.median(WorkExp),2))

3.06
4.0
3.52
3.5
1.0
6.0
2.87
2.5

In [163]:
classData=np.genfromtxt('ClassData.csv',delimiter=',',dtype=None)

In [164]:
classData

array([[b'No', b'GPA', b'Years of work experience',
        b'Latest salary (per year)', b'Highest GPA ', b'Lowest GPA',
        b'Coops/Internships (YN)', b'Number of contacts on Linkedin',
        b'Expected Salary after graduation'],
       [b'1', b'3.5', b'2.5', b'45000', b'3.5', b'3.5', b'N', b'250',
        b'90000'],
       [b'3', b'3.8', b'1', b'65000', b'3.6', b'3', b'Y', b'400', b'100000'],
       [b'4', b'3.8', b'2', b'85000', b'4', b'3.6', b'Y', b'500', b'90000'],
       [b'5', b'3.41', b'1.5', b'10000', b'3.41', b'3.33', b'N', b'365',
        b'100000'],
       [b'6', b'3.33', b'5', b'70000', b'3.67', b'3', b'Y', b'400',
        b'100000'],
       [b'7', b'3.52', b'2.5', b'27000', b'3.58', b'3.52', b'N', b'230',
        b'85000'],
       [b'8', b'3.5', b'2', b'40000', b'3.7', b'3.3', b'N', b'250',
        b'90000'],
       [b'9', b'3.5', b'5', b'75000', b'3.53', b'3.3', b'Y', b'260',
        b'100000'],
       [b'10', b'3.6', b'2.5', b'65000', b'3.9', b'3.1', b'Y', b'250',
        b'110000'],
       [b'11', b'3.2', b'4', b'62000', b'3.8', b'3', b'N', b'525',
        b'105000'],
       [b'12', b'3.5', b'2', b'60000', b'3.5', b'3.5', b'N', b'400',
        b'85000'],
       [b'13', b'3.67', b'1.8', b'60000', b'4', b'3', b'N', b'920',
        b'140000'],
       [b'14', b'3.5', b'2', b'60000', b'3.7', b'3.3', b'y', b'300',
        b'90000'],
       [b'15', b'3.47', b'2.5', b'70000', b'3.64', b'3.37', b'Y', b'310',
        b'95000'],
       [b'16', b'3.06', b'1.3', b'40000', b'3.64', b'2.67', b'Y', b'550',
        b'120000'],
       [b'17', b'3.27', b'2', b'60000', b'4', b'3', b'Y', b'350', b'100000'],
       [b'18', b'3.53', b'4', b'50000', b'4', b'3.3', b'N', b'600',
        b'88000'],
       [b'19', b'4', b'4', b'50000', b'4', b'4', b'Y', b'500', b'130000'],
       [b'20', b'3.4', b'1', b'30000', b'3.6', b'3.1', b'N', b'500',
        b'80000'],
       [b'21', b'3.54', b'1', b'40000', b'4', b'3.42', b'Y', b'650',
        b'95000'],
       [b'22', b'3.5', b'2', b'75000', b'4', b'3', b'Y', b'515', b'80000'],
       [b'23', b'3.5', b'4', b'50000', b'3.8', b'3.2', b'Y', b'350',
        b'110000'],
       [b'24', b'3.4', b'3', b'50000', b'3.8', b'3.2', b'Y', b'301',
        b'90000'],
       [b'25', b'3.93', b'5', b'', b'', b'', b'', b'', b''],
       [b'26', b'3.3', b'4', b'65000', b'4', b'3.65', b'Y', b'700',
        b'100000'],
       [b'27', b'3.9', b'6', b'90000', b'4', b'3.8', b'Y', b'809',
        b'120000'],
       [b'28', b'3.17', b'1', b'50000', b'3.3', b'3', b'N', b'258',
        b'100000'],
       [b'29', b'3.48', b'3.5', b'60000', b'4', b'3.33', b'Y', b'350',
        b'100000'],
       [b'30', b'3.93', b'4', b'43000', b'4', b'3.28', b'Y', b'900',
        b'100000'],
       [b'31', b'3.43', b'4', b'60000', b'3.5', b'3.3', b'Y', b'220',
        b'110000'],
       [b'32', b'3.33', b'5', b'5000', b'3.66', b'3', b'Y', b'183',
        b'100000'],
       [b'33', b'3.6', b'1.5', b'60000', b'3.7', b'3.4', b'Y', b'340',
        b'100000'],
       [b'34', b'3.8', b'3', b'65000', b'3.8', b'3.5', b'Y', b'800',
        b'80000'],
       [b'35', b'3.5', b'3', b'65000', b'4', b'3.6', b'Y', b'400', b'80000'],
       [b'36', b'3.39', b'2', b'60000', b'3.8', b'3.2', b'Y', b'500',
        b'90000']],
      dtype='|S32')

In [165]:
classData=np.recfromcsv('ClassData.csv',dtype=None)

In [166]:
classData

rec.array([(1, 3.5, 2.5, 45000, 3.5, 3.5, b'N', 250, 90000),
 (3, 3.8, 1.0, 65000, 3.6, 3.0, b'Y', 400, 100000),
 (4, 3.8, 2.0, 85000, 4.0, 3.6, b'Y', 500, 90000),
 (5, 3.41, 1.5, 10000, 3.41, 3.33, b'N', 365, 100000),
 (6, 3.33, 5.0, 70000, 3.67, 3.0, b'Y', 400, 100000),
 (7, 3.52, 2.5, 27000, 3.58, 3.52, b'N', 230, 85000),
 (8, 3.5, 2.0, 40000, 3.7, 3.3, b'N', 250, 90000),
 (9, 3.5, 5.0, 75000, 3.53, 3.3, b'Y', 260, 100000),
 (10, 3.6, 2.5, 65000, 3.9, 3.1, b'Y', 250, 110000),
 (11, 3.2, 4.0, 62000, 3.8, 3.0, b'N', 525, 105000),
 (12, 3.5, 2.0, 60000, 3.5, 3.5, b'N', 400, 85000),
 (13, 3.67, 1.8, 60000, 4.0, 3.0, b'N', 920, 140000),
 (14, 3.5, 2.0, 60000, 3.7, 3.3, b'y', 300, 90000),
 (15, 3.47, 2.5, 70000, 3.64, 3.37, b'Y', 310, 95000),
 (16, 3.06, 1.3, 40000, 3.64, 2.67, b'Y', 550, 120000),
 (17, 3.27, 2.0, 60000, 4.0, 3.0, b'Y', 350, 100000),
 (18, 3.53, 4.0, 50000, 4.0, 3.3, b'N', 600, 88000),
 (19, 4.0, 4.0, 50000, 4.0, 4.0, b'Y', 500, 130000),
 (20, 3.4, 1.0, 30000, 3.6, 3.1, b'N', 500, 80000),
 (21, 3.54, 1.0, 40000, 4.0, 3.42, b'Y', 650, 95000),
 (22, 3.5, 2.0, 75000, 4.0, 3.0, b'Y', 515, 80000),
 (23, 3.5, 4.0, 50000, 3.8, 3.2, b'Y', 350, 110000),
 (24, 3.4, 3.0, 50000, 3.8, 3.2, b'Y', 301, 90000),
 (25, 3.93, 5.0, -1, nan, nan, b'', -1, -1),
 (26, 3.3, 4.0, 65000, 4.0, 3.65, b'Y', 700, 100000),
 (27, 3.9, 6.0, 90000, 4.0, 3.8, b'Y', 809, 120000),
 (28, 3.17, 1.0, 50000, 3.3, 3.0, b'N', 258, 100000),
 (29, 3.48, 3.5, 60000, 4.0, 3.33, b'Y', 350, 100000),
 (30, 3.93, 4.0, 43000, 4.0, 3.28, b'Y', 900, 100000),
 (31, 3.43, 4.0, 60000, 3.5, 3.3, b'Y', 220, 110000),
 (32, 3.33, 5.0, 5000, 3.66, 3.0, b'Y', 183, 100000),
 (33, 3.6, 1.5, 60000, 3.7, 3.4, b'Y', 340, 100000),
 (34, 3.8, 3.0, 65000, 3.8, 3.5, b'Y', 800, 80000),
 (35, 3.5, 3.0, 65000, 4.0, 3.6, b'Y', 400, 80000),
 (36, 3.39, 2.0, 60000, 3.8, 3.2, b'Y', 500, 90000)],
          dtype=[('no', '<i8'), ('gpa', '<f8'), ('years_of_work_experience', '<f8'), ('latest_salary_per_year', '<i8'), ('highest_gpa', '<f8'), ('lowest_gpa', '<f8'), ('coopsinternships_yn', 'S1'), ('number_of_contacts_on_linkedin', '<i8'), ('expected_salary_after_graduation', '<i8')])

In [167]:
round(np.min(classData['gpa']),2)

3.0600000000000001

In [168]:
round(np.max(classData['gpa']),2)

4.0

In [169]:
round(np.mean(classData['gpa']),2)

3.52

In [170]:
round(np.median(classData['gpa']),2)

3.5

In [171]:
print(classData['years_of_work_experience'])
print(round(np.min(classData['years_of_work_experience']),2))
print(round(np.max(classData['years_of_work_experience']),2))
print(round(np.mean(classData['years_of_work_experience']),2))
print(round(np.median(classData['years_of_work_experience']),2))

[ 2.5  1.   2.   1.5  5.   2.5  2.   5.   2.5  4.   2.   1.8  2.   2.5  1.3
  2.   4.   4.   1.   1.   2.   4.   3.   5.   4.   6.   1.   3.5  4.   4.
  5.   1.5  3.   3.   2. ]
1.0
6.0
2.87
2.5

In [172]:
stats.mode(classData['latest_salary_per_year'])

ModeResult(mode=array([60000]), count=array([8]))

In [173]:

x=classData['coopsinternships_yn']

np.char.upper(x)
x.astype('str')
len(x)
x

array([b'N', b'Y', b'Y', b'N', b'Y', b'N', b'N', b'Y', b'Y', b'N', b'N',
       b'N', b'y', b'Y', b'Y', b'Y', b'N', b'Y', b'N', b'Y', b'Y', b'Y',
       b'Y', b'', b'Y', b'Y', b'N', b'Y', b'Y', b'Y', b'Y', b'Y', b'Y',
       b'Y', b'Y'],
      dtype='|S1')

In [174]:
count=0
total=len(x)
for v in x:
    print(v.replace('b',''))

TypeError: a bytes-like object is required, not 'str'

In [ ]:
percentcoop

In [ ]:
notoncoop

In [ ]:
y=classData['number_of_contacts_on_linkedin']
y

In [ ]:
y>500

In [ ]:
len(y[y>500])

In [ ]:
a=classData['expected_salary_after_graduation']
a

In [ ]:
print(np.percentile(a, 25))
print(np.percentile(a, 50))
print(np.percentile(a, 75))
print(np.percentile(a, 100))

In [ ]:
Coop_Y = 0;
Coop_N = 0;
Total = 0;
for f in (classData['coopsinternships_yn']):
        Total  = Total + 1;
        if (f == 'Y' or f == 'y'):
            Coop_Y = Coop_Y + 1
        elif(f  == 'N'):
            Coop_N = Coop_N + 1 
            
print (Coop_Y/Total * 100)
print (Coop_N/Total * 100)
classData['coopsinternships_yn']

In [ ]:
dfclass = pd.read_csv('ClassData.csv')
dfclass

In [ ]:
count=0
count_N=0;
total=0
for v in (dfclass['Coops/Internships (YN)']):
    total=total+1
    if(v == 'Y' or v == 'y'):
        count=count+1
    elif(v == 'N'):
        count_N=count_N+1;
oncoop=print((count/total)*100)
notoncoop=print((count_N/total)*100)

In [177]:
q3 = np.percentile(a,75)
q1 = np.percentile(a,25)
IQR = q3 - q1
IQR

10000.0