In [122]:
import numpy as np
import matplotlib.pyplot as pp
import pandas as pd
import seaborn
from scipy import stats

In [115]:
gpalist=[]
for line in open('ClassData.csv','r'):
   field= line.split(',')
   gpalist.append(field)
print(gpalist)

[['No', 'GPA', 'Years of work experience', 'Latest salary (per year)', 'Highest GPA ', 'Lowest GPA', 'Coops/Internships (YN)', 'Number of contacts on Linkedin', 'Expected Salary after graduation\n'], ['1', '3.5', '2.5', '45000', '3.5', '3.5', 'N', '250', '90000\n'], ['3', '3.8', '1', '65000', '3.6', '3', 'Y', '400', '100000\n'], ['4', '3.8', '2', '85000', '4', '3.6', 'Y', '500', '90000\n'], ['5', '3.41', '1.5', '10000', '3.41', '3.33', 'N', '365', '100000\n'], ['6', '3.33', '5', '70000', '3.67', '3', 'Y', '400', '100000\n'], ['7', '3.52', '2.5', '27000', '3.58', '3.52', 'N', '230', '85000\n'], ['8', '3.5', '2', '40000', '3.7', '3.3', 'N', '250', '90000\n'], ['9', '3.5', '5', '75000', '3.53', '3.3', 'Y', '260', '100000\n'], ['10', '3.6', '2.5', '65000', '3.9', '3.1', 'Y', '250', '110000\n'], ['11', '3.2', '4', '62000', '3.8', '3', 'N', '525', '105000\n'], ['12', '3.5', '2', '60000', '3.5', '3.5', 'N', '400', '85000\n'], ['13', '3.67', '1.8', '60000', '4', '3', 'N', '920', '140000\n'], ['14', '3.5', '2', '60000', '3.7', '3.3', 'y', '300', '90000\n'], ['15', '3.47', '2.5', '70000', '3.64', '3.37', 'Y', '310', '95000\n'], ['16', '3.06', '1.3', '40000', '3.64', '2.67', 'Y', '550', '120000\n'], ['17', '3.27', '2', '60000', '4', '3', 'Y', '350', '100000\n'], ['18', '3.53', '4', '50000', '4', '3.3', 'N', '600', '88000\n'], ['19', '4', '4', '50000', '4', '4', 'Y', '500', '130000\n'], ['20', '3.4', '1', '30000', '3.6', '3.1', 'N', '500', '80000\n'], ['21', '3.54', '1', '40000', '4', '3.42', 'Y', '650', '95000\n'], ['22', '3.5', '2', '75000', '4', '3', 'Y', '515', '80000\n'], ['23', '3.5', '4', '50000', '3.8', '3.2', 'Y', '350', '110000\n'], ['24', '3.4', '3', '50000', '3.8', '3.2', 'Y', '301', '90000\n'], ['25', '3.93', '5', '', '', '', '', '', '\n'], ['26', '3.3', '4', '65000', '4', '3.65', 'Y', '700', '100000\n'], ['27', '3.9', '6', '90000', '4', '3.8', 'Y', '809', '120000\n'], ['28', '3.17', '1', '50000', '3.3', '3', 'N', '258', '100000\n'], ['29', '3.48', '3.5', '60000', '4', '3.33', 'Y', '350', '100000\n'], ['30', '3.93', '4', '43000', '4', '3.28', 'Y', '900', '100000\n'], ['31', '3.43', '4', '60000', '3.5', '3.3', 'Y', '220', '110000\n'], ['32', '3.33', '5', '5000', '3.66', '3', 'Y', '183', '100000\n'], ['33', '3.6', '1.5', '60000', '3.7', '3.4', 'Y', '340', '100000\n'], ['34', '3.8', '3', '65000', '3.8', '3.5', 'Y', '800', '80000\n'], ['35', '3.5', '3', '65000', '4', '3.6', 'Y', '400', '80000\n'], ['36', '3.39', '2', '60000', '3.8', '3.2', 'Y', '500', '90000']]

In [140]:
gpalist=[]
yearofexp=[]
salary=[]
with open('ClassData.csv','r') as f:
    lines = f.readlines()[1:]
    for line in lines:
        field= line.split(',')
        gpalist.append(field[1])
        yearofexp.append(field[2])
        salary.append(field[3])
salary     
#Salary=np.asarray(salary,dtype=np.float_)

['45000',
 '65000',
 '85000',
 '10000',
 '70000',
 '27000',
 '40000',
 '75000',
 '65000',
 '62000',
 '60000',
 '60000',
 '60000',
 '70000',
 '40000',
 '60000',
 '50000',
 '50000',
 '30000',
 '40000',
 '75000',
 '50000',
 '50000',
 '',
 '65000',
 '90000',
 '50000',
 '60000',
 '43000',
 '60000',
 '5000',
 '60000',
 '65000',
 '65000',
 '60000']

In [ ]:
GPA= np.asarray(gpalist,dtype=np.float_)
WorkExp=np.asarray(yearofexp,dtype=np.float_)
WorkExp


print(round(np.min(GPA),2))
print(round(np.max(GPA),2))
print(round(np.mean(GPA),2))
print(round(np.median(GPA),2))
print(round(np.min(WorkExp),2))
print(round(np.max(WorkExp),2))
print(round(np.mean(WorkExp),2))
print(round(np.median(WorkExp),2))

In [ ]:
classData=np.genfromtxt('ClassData.csv',delimiter=',',dtype=None)

In [ ]:
classData

In [ ]:
classData=np.recfromcsv('ClassData.csv',dtype=None)

In [ ]:
classData

In [ ]:
round(np.min(classData['gpa']),2)

In [ ]:
round(np.max(classData['gpa']),2)

In [ ]:
round(np.mean(classData['gpa']),2)

In [ ]:
round(np.median(classData['gpa']),2)

In [ ]:
print(classData['years_of_work_experience'])
print(round(np.min(classData['years_of_work_experience']),2))
print(round(np.max(classData['years_of_work_experience']),2))
print(round(np.mean(classData['years_of_work_experience']),2))
print(round(np.median(classData['years_of_work_experience']),2))

In [ ]:
stats.mode(classData['latest_salary_per_year'])

In [ ]:

x=classData['coopsinternships_yn']

np.char.upper(x)
x.astype('str')
len(x)
x

In [ ]:
count=0
total=len(x)
for v in x:
    print(v.replace('b',''))

In [ ]:
percentcoop

In [ ]:
notoncoop

In [ ]:
y=classData['number_of_contacts_on_linkedin']
y

In [ ]:
y>500

In [ ]:
len(y[y>500])

In [ ]:
a=classData['expected_salary_after_graduation']
a

In [ ]:
print(np.percentile(a, 25))
print(np.percentile(a, 50))
print(np.percentile(a, 75))
print(np.percentile(a, 100))

In [117]:
Coop_Y = 0;
Coop_N = 0;
Total = 0;
for f in (classData['coopsinternships_yn']):
        Total  = Total + 1;
        if (f == 'Y' or f == 'y'):
            Coop_Y = Coop_Y + 1
        elif(f  == 'N'):
            Coop_N = Coop_N + 1 
            
print (Coop_Y/Total * 100)
print (Coop_N/Total * 100)
classData['coopsinternships_yn']

0.0
0.0

array([b'N', b'Y', b'Y', b'N', b'Y', b'N', b'N', b'Y', b'Y', b'N', b'N',
       b'N', b'y', b'Y', b'Y', b'Y', b'N', b'Y', b'N', b'Y', b'Y', b'Y',
       b'Y', b'', b'Y', b'Y', b'N', b'Y', b'Y', b'Y', b'Y', b'Y', b'Y',
       b'Y', b'Y'],
      dtype='|S1')

In [124]:
dfclass = pd.read_csv('ClassData.csv', header=None)

In [139]:
count=0
count_N=0;
total=0
for v in dfclass[6]:
    total=total+1
    if(v=='Y' or v=='y'):
        
        count=count+1
    elif(v=='N'):
        count_N=count_N+1;
oncoop=print((count/total)*100)
notoncoop=print((count_N/total)*100)

66.66666666666666
27.77777777777778